<ion-header>
	<ion-navbar>
    	<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>CountApp</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list no-lines *ngFor="let groupBills of groupsBills">
      <ion-list-header color="light">
        {{ groupBills.title }} <span>€&nbsp;{{ groupBills.amount }}</span>
      </ion-list-header>
      <button ion-item detail-none *ngFor="let bill of filterBillsFromGroup(groupBills.id)">
        <h2>{{ bill.title }}</h2>
        <p><span *ngIf="bill.amount">€&nbsp;{{ bill.amount }}</span> <span *ngIf="bill.paidBy">– payé par {{ bill.paidBy }}</span></p>
      </button>
    </ion-list>
</ion-content>
